.DS_Store
__pycache__/
.ipynb_checkpoints/
.pytest_cache/
.streamlit/
.venv/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*
!models/.gitkeep
figures/*
!figures/.gitkeep
